html, body {
    height: 100vh;
}

body {
    background: url("../chat.jpg");
    background-size: cover;
}

.poster strong {
    color: tomato;
}

.vertical-align {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.welcome {
    margin-top: 2em;
}